SUPABASE_URL=
SUPABASE_ANON_KEY=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
SUPABASE_STORAGE_PUBLIC_BUCKET=public-media
SUPABASE_STORAGE_PRIVATE_BUCKET=private-media
